.about {
    position: relative;
    margin-top: -55px;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 240, 0.5);
    }
    z-index: -1;    
    // .about__img
    &__img {
        padding-bottom: 20.782%;
    }
    // .about__title
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        color: #363838;
        z-index: 2;
        transform: translate(-50%, -50%);
        @media (max-width:760px) {
            font-size: 40px;
        }
        @media (max-width:460px) {
            font-size: 20px;
        }
    }
}

.balance {
    padding: 129px 0 40px 0;
    @media (max-width:640px) {
        text-align: center;
        padding: 20px 0;
    }
    // .balance__title
    &__title {
        padding-right: 22%;
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: #363838;
        padding-bottom: 20px;
        margin-bottom: 23px;
        &::after{
            max-width: 200px;
            background-color: #6D7278;
            @media (max-width:640px) {
                margin: 0 auto;
            }
        }
        @media (max-width:640px) {
            padding: 0 0 20px 0;
            margin-bottom: 20px;
        }
        @media (max-width:460px) {
            font-size: 25px;
            line-height: 40px;
            padding: 0 0 10px 0;
            margin-bottom: 10px;
        }
    }
    // .balance__text
    &__text {
        padding-left: 23%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        p{
            padding-bottom: 25px;
            @media (max-width:640px) {
                padding-bottom: 15px;
            }
        }
        @media (max-width:640px) {
            padding: 0;
        }
    }
}

.video {
    position: relative;
    padding-bottom: 98px;
    @media (max-width: 640px) {
        padding-bottom: 30px;
    }
    // .video__play
    &__play {
        padding-bottom: 21.563%;
    }
    // .video__play-imgbtn
    &__play-imgbtn{
        position: absolute;
        top: 50%;
        left: 48%;
        right: 50%;
        transform: translate(-50%, -50%);
        display: block;
        padding-bottom: 7.4%;
        transition: all .2s ease;
        img{
            width: 80px;
            height: 80px;
            @media (max-width: 1000px) {
                width: 70px;
                height: 70px;
                transform: translate(-50%, -20%);
            }
            @media (max-width: 640px) {
                width: 50px;
                height: 50px;
                transform: translate(-50%, 0);
            }
            @media (max-width: 460px) {
                width: 30px;
                height: 30px;
                transform: translate(-40%, 0);
            }
            &:hover{
                border-radius: 50%;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.852218);
            }
            &:active{
                transition: .3s;
                transform: scale(0);
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.852218);
            }
        }
    }
}

.details {
    position: relative;
    padding: 137px 0 0 0;
    @media (max-width: 1400px) {
        padding: 0;
    }
    // .details__bg
    &__bg {
        position: absolute;
        width: 100%;
        height: 414px;
        @media (max-width: 1400px) {
            height: 100%;
        }
    }
    // .details__inner
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -145px;
        @media (max-width: 1400px) {
            flex-direction: column;
            margin-top: 0;
            padding: 60px 15px;
        }
        @media (max-width: 640px) {
            padding: 20px 15px;
        }

    }
    // .details__img
    &__img {
        width: 22.5%;
        padding-bottom: 26.4%;
        @media (max-width: 1400px) {
            order: 2; 
        }
    }
    // .details__body
    &__body {
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-width: 825px;
        margin-left: 80px;
        @media (max-width: 1400px) {
            order: 1;
            margin-left: 0;   
        }
    }
    // .details__title
    &__title {
        margin-bottom: 30px;
    }
    // .details__title-title
    &__title-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: #363838;
        padding-bottom: 15.5px;
        margin-bottom: 23.5px;
        &::after{
            max-width: 200px;
            background-color: #6D7278;
        }
    }
    // .details__title-text
    &__title-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
    }
    // .details__progressbar-item
    &__progressbar-item {
        position: relative;
        margin-bottom: 33px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #FFFFFF;
            border-radius: 4px;
        }
    }
    // .details__progressbar-info
    &__progressbar-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    // .details__progressbar-title
    // .details__progressbar-number
    &__progressbar-title,
    &__progressbar-number {
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
    }
    // .details__progressbar-line
    &__progressbar-line {
        position: relative;
        top: -0.1px;
        left: 0;
        font-size: 0;
        z-index: 1;
        border: 1px solid #363838;
        border-radius: 4px;
    }
}

.partners {
    margin-top: 54px;
    padding: 16px 16px 60px 16px;
    @media (max-width: 1400px) {
        padding: 0 16px 60px 16px;
    }
    @media (max-width: 860px) {
        padding: 0 0 10px 0;   
    }
    // .partners__logos
    &__logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -34px;
        img{
            padding: 0 34px;
            @media (max-width: 1400px) {
                height: 200px;    
            }
            @media (max-width: 860px) {
                height: 100px;    
            }
        }
    }
    @media (max-width: 1400px) {
        margin-top: 0;
    }
}

.picture{
    padding: 0 11px 72px 11px;
    @media (max-width: 860px) {
        padding: 0 0 30px 0;   
    }
}