.blog-single__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #5A5A5A;
    margin-bottom: 25px;
}

.slider-blog-single {
    margin-bottom: 35px;
    position: relative;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    border-radius: 1px;
    // .slider-blog-single__slider-item
    &__slider-item {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 40px 33px 40px 33px;
    }
    &__arrow{
        padding: 0;
        border: none;
        background: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1001;
        cursor: pointer;
    }
    &__arrowleft{
        left: 0;
    }
    &__arrowright{
        right: 0;
    }
    // .slider-blog-single__slider-prev
    &__slider-prev {
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
        max-width: 243px;
        padding-right: 5px;
    }
    // .slider-blog-single__slider-next
    &__slider-next {
        padding-left: 5px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
        text-align: end;
        max-width: 243px;
    }
    @media (max-width: 600px) {
        &__slider-prev,
        &__slider-next{
            font-size: 12px;
            line-height: 24px;
        }
    }
}

.comments {
    // .comments__title
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        color: #363838;
        margin-bottom: 20px;
    }
    // .comments__comment
    &__comment {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;    
    }
    // .comments__comment-avatar
    &__comment-avatar {
        margin-right: 13px;
    }
    // .comments__comment-username
    &__comment-username {
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
    }
    // .comments__comment-date
    &__comment-date {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #A1A1A1;
    }
    // .comments__comment-text
    &__comment-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        max-width: 650px;
    }
    // .comments__subtitle
    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
        margin-bottom: 23px;
    }
    // .comments__form
    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .comments__form-message
    &__form-message {
        padding: 14px 15px;
        width: 100%;
        min-height: 125px;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        resize: none;
        margin-bottom: 12px;
        &::placeholder{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    // .comments__form-name
    // .comments__form-email
    &__form-name,
    &__form-email {
        width: prc(360px, 730px);
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 15px;
        min-height: 40px;
        &::placeholder{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    // .comments__form-label
    &__form-label {
        display: flex;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #A1A1A1;
        margin: 20px 0;
        width: 100%;
        cursor: pointer;
    }
    // .comments__form-labelcheckbox
    &__form-labelcheckbox{
        width: 21px;
        height: 21px;
        border: 1px solid #979797;
        margin-right: 13px;
        cursor: pointer;
    }
    // .comments__form-btn
    &__form-btn {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFF0;
        background: #363838;
        padding: 6px 60px;
        border-radius: 21px;
    }
}
