.map{
    margin-top: -53px;
    margin-bottom: 55px;
    @media (max-width: 680px) {
        margin-bottom: 25px;
    }
}
.contact {
    padding-bottom: 100px;
    @media (max-width: 680px) {
       padding-bottom: 50px;
    }
    // .contact__title
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: #363838;
        padding-bottom: 35px;
        margin-bottom: 40px;
        &::after{
            max-width: 200px;
            background-color: #6D7278;
            @media (max-width: 680px) {
                margin: 0 auto;
            }
        }
        @media (max-width: 680px) {
            text-align: center;
            padding-bottom: 6px;
            margin-bottom: 30px;
        }
    }
    // .contact__inner
    &__inner {
        padding-left: 284px;
        @media (max-width: 680px) {
            padding: 0;
        }
    }
    // .contact__list
    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    // .contact__list-item
    &__list-item {
        padding-right: 36px;
        &:last-child{
            position: relative;
            top: 2px;
            right: 0;
            padding: 0;
        }
    }
    // .contact__text
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #A1A1A1;
        margin-bottom: 10px;
    }
    // .contact__info
    &__info {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        a{
            color: inherit;
        }
        margin-bottom: 16px;
    }
    // .contact__email
    &__email {
        display: flex;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #363838;
        a{
            margin-left: 14px;
            color: inherit;
        }
        margin-bottom: 24px;
    }
    // .contact__form
    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .contact__form-name
    // .contact__form-email
    &__form-name,
    &__form-email {
        width: 48%;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 13px;
        &::placeholder{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    // .contact__form-message
    &__form-message {
        width: 100%;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        padding: 14px 17px;
        min-height: 125px;
        margin-bottom: 20px;
        resize: none;
        &::placeholder{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    // .contact__form-btn
    &__form-btn {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFF0;
        background: #363838;
        padding: 6px 60px;
        border-radius: 21px;
    }
}

.contact-slider {
    padding: 0 25px 102px 28px;
    @media (max-width: 900px) {
        padding: 0 25px 50px 28px;
    }
    margin: 0 -9.5px -20px;
    // .contact-slider__link
    &__link {
        position: relative;
        padding: 0 9.5px;
        margin-bottom: 20px;
        &:hover{
            .contact-slider__title{
                opacity: 1;
            }
        }
    }
    // .contact-slider__img
    &__img {
        max-width: 170px;
        height: 170px;
    }
    // .contact-slider__title
    &__title {
        transition: all .2s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 15px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9033);
        background-color: rgba(#FFFFFF, 0.6);
        
    }
}


