.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    padding: 45px 0;
    // .header__container
    &__container {
        max-width: 1063px;
        margin: 0 auto;
        padding: 0 15px;
    }
    // .header__inner
    &__inner {
        padding-right: 98.5px;
        position: relative;
        .header__burger{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    // .header__burger
    &__burger {
        position: relative;
        width: 37px;
        height: 29px;
        font-size: 0;
        cursor: pointer;
        span{
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 3px;
            right: 0;
            border-radius: 50px;
            transition: all 0.3s ease;
            &:nth-child(2),
            &:last-child{
                width: 100%;
            }
            &:first-child,
            &:nth-child(3){
                width: 24px;
            }
            &:first-child{
                top: 0;
            }
            &:last-child{
                bottom: 0;
            }
            &:nth-child(2){
                top: 9px;
            }
            &:nth-child(3){
                top: 18px;
            }
        }
    }
        .header__burger.active{
            span{
                &:first-child{
                    transform: rotate(45deg);
                    width: 100%;
                    top: 13px;
                }
                &:last-child{
                    transform: rotate(-45deg);
                    bottom: 13px;
                }
                &:nth-child(2),
                &:nth-child(3){
                    transform: scale(0);
                }
            }
        }
}
.menu {
    display: flex;
    @media (max-width: 680px) {
        display: block;
        position: absolute;
        top: 50px;
        right: -100%;
        transition: all .3s ease;
        padding: 20px 10px 20px 20px;
        background-color: #fff;
        border-radius: 30px 5px 5px 30px;
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        @media (max-width: 680px) {
            flex-direction: column;
            align-items: flex-end; 
        }
    }
    // .menu__list-item
    &__list-item {
        margin-right: 80px;
        &:last-child{
            margin: 0;
        }
        @media (max-width: 680px) {
            margin: 0 0 10px 0;   
        }
    }
    &__list-item.active{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color:rgba(#363838, .7);
            border-radius: 1px;
        }
        .menu__list-link{
            &:hover{
                text-decoration: none;
            }
        }
    }
    // .menu__list-link
    &__list-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9033);
        &:hover{
            text-decoration: underline;
        }
    }
    // .menu__log
    &__log {
        margin: 0 auto;
        @media (max-width: 680px) {
            margin: 10px 0;
        }
    }
}

.menu.active{
    right: 0;
}

.rightside-menu {
    overflow: auto;
    position: fixed;
    top: 0;
    right: -1000%;
    padding: 97px 0;
    max-width: 694px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 3s ease;
    // .rightside-menu__close
    &__close{
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    // .rightside-menu__content
    &__content {
        max-width: 485px;
        text-align: center;
        margin: 0 auto;
    }
    // .rightside-menu__logo
    &__logo {
        display: inline-block;
        margin-bottom: 40px;
    }
    // .rightside-menu__title
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 51px;
        color: #363838;
        padding-bottom: 17px;
        margin-bottom: 17px;
        &::after{
            margin: 0 auto;
            max-width: 252px;
        }
    }
    // .rightside-menu__text
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        margin-bottom: 75px;
    }
    // .rightside-menu__img
    &__img {
        max-width: 485px;
    }
    @media (max-width: 680px){
        display: none;
    }
}

.rightside-menu.active{
    transition: all .3s ease;
    right: 0;
}